
<div class="header-image">
	<div class="pixel-overlay"></div>
	<img width="100%"  src="/images/stella_jumbo.JPG">
	<!--div class="headline">
		<h1>Joel Gion</h1>
	</div-->
</div>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1>This is Bonkers, Apple.</h1>
		</div>
	</div><!--/row-->

	<hr>
	<h4><em>News</em></h4> <!--------- News ---------->
	<div class="row">
		<div class="col-xs-4">	
			<div class="announcement-thumbnail">
				<%= link_to (image_tag @announcements[0].attachment.url(:thumb), :class => "announcement-img img-responsive"), @announcements[0] %>
				<div class="img-title">
					<h5><%= link_to @announcements[0].title, @announcements[0] %></h5>
				</div>
			</div>
		</div>
		<div class="col-xs-4">	
			<div class="announcement-thumbnail">
				<%= link_to (image_tag @announcements[1].attachment.url(:thumb), :class => "announcement-img img-responsive"), @announcements[1] %>
				<div class="img-title">
					<h5><%= link_to @announcements[1].title, @announcements[1] %></h5>
				</div>
			</div>
		</div>
		<div class="col-xs-4">	
			<div class="announcement-thumbnail">
				<%= link_to (image_tag @announcements[2].attachment.url(:thumb), :class => "announcement-img img-responsive"), @announcements[2] %>
				<div class="img-title">
					<h5><%= link_to @announcements[2].title, @announcements[2] %></h5>
				</div>
			</div>
		</div>
	</div><!--/row-->

	<div class="row">
		<div class="col-xs-4">	
			<div class="announcement-thumbnail">
				<%= link_to (image_tag @announcements[3].attachment.url(:thumb), :class => "announcement-img img-responsive"), @announcements[3] %>
				<div class="img-title">
					<h5><%= link_to @announcements[3].title, @announcements[3] %></h5>
				</div>
			</div>
		</div>
		<div class="col-xs-4">	
			<div class="announcement-thumbnail">
				<%= link_to (image_tag @announcements[4].attachment.url(:thumb), :class => "announcement-img img-responsive"), @announcements[4] %>
				<div class="img-title">
					<h5><%= link_to @announcements[4].title, @announcements[4] %></h5>
				</div>
			</div>
		</div>
		<div class="col-xs-4">	
			<div class="announcement-thumbnail">
				<%= link_to (image_tag @announcements[5].attachment.url(:thumb), :class => "announcement-img img-responsive"), @announcements[5] %>
				<div class="img-title">
					<h5><%= link_to @announcements[5].title, @announcements[5] %></h5>
				</div>
			</div>
		</div>
	</div><!--/row /news -->
	
	<hr>
	<h4><em>Shows</em></h4> <!---------- Shows -------->
	<div class="row">
    	<div class="col-md-12">
			
			<table class="table table-striped">
			  <thead>
			    <tr>
			      <th>Date </th>
			      <th>Location </th>
			      <th>Venue </th>
			      <th>Details </th>
				  
			    </tr>
			  </thead>
			  <tbody>
			    <% @gigs.each do |gig| %>
			      <tr>
			        <td class="col-xs-2"><%= link_to gig.date.strftime("%m/%d/%Y"), gig %></td>
			        <td class="col-xs-2"><%= gig.location %></td>
			        <td class="col-xs-2"><%= if !gig.link.blank? then link_to gig.venue,url_with_protocol(gig.link), :target => :blank else gig.venue end %></td>
			        <td class="col-xs-6"><%= gig.details %> <%= if gig.with_tpc? then image_tag "/images/swirl-icon.png", :class => "responsive-img" end %> </td>
					
			      </tr>
			    <% end %>
			  </tbody>
			</table>
		</div>
	</div><!--/row /shows -->
	
	<hr>
	<h4><em>Videos</em></h4> <!--------- Videos ---------->
	<% @videos.each do |vid| %>
	<div class="row">
		<div class="video-container">
			<iframe src="https://www.youtube.com/embed/<%= youtube_id(vid.video_url) %>" frameborder="0" allowfullscreen></iframe>
		</div>
		
	    <div class="col-xs-12">
			  <h1><%= vid.title %></h1>
			  <p><%= vid.description%></p>
		</div>
	</div>
	
	<% end %>
	<!-- /Videos -->
	
	<hr>
	<h4><em>Store</em></h4> <!-- STORE -->
	<div class="row">
		<div class="col-xs-2 col-xs-offset-1">
			<div class="store-img"><%= link_to (image_tag "apple_bonkers.jpg", :class => "img-responsive"), "http://goingion.tictail.com/product/joel-gion-7-overthrow-night-of-the-living-deadbeats" %></div>
		</div>
		<div class="col-xs-2">
			<div class="store-img"><%= link_to (image_tag "easy.jpg", :class => "img-responsive"), "http://goingion.tictail.com/product/joel-gion-7-overthrow-night-of-the-living-deadbeats" %></div>
		</div>
		<div class="col-xs-2">
			<div class="store-img"><%= link_to (image_tag "jg_7.jpg", :class => "img-responsive"), "http://goingion.tictail.com/product/joel-gion-7-overthrow-night-of-the-living-deadbeats" %></div>
		</div>
		<div class="col-xs-2">
			<div class="store-img"><%= link_to (image_tag "ol_record.jpg", :class => "img-responsive"), "http://goingion.tictail.com/product/joel-gion-7-overthrow-night-of-the-living-deadbeats" %></div>
		</div>
		<div class="col-xs-2">
			<div class="store-img"><%= link_to (image_tag "tpc_shirt.jpg", :class => "img-responsive"), "http://goingion.tictail.com/product/joel-gion-7-overthrow-night-of-the-living-deadbeats" %></div>
		</div>
	
	
	</div>
	<!-- /STORE -->
	
	<hr>
	<h4><em>Contact</em></h4>
    <div class="row">
      <div class="col-md-12">
  		<address>
  			<strong>jOeL</strong><br>
  			<a href="mailto:joelgionprimarycolours@gmail.com">joelgionprimarycolours@gmail.com</a>
  		</address>

  		<address>
  			<strong>JG & The Primary Colours</strong><br>
  			<a href="https://www.facebook.com/messages/1390547224522132">Facebook</a>
  		</address>
        </div>
      </div><!--/row-->


	
</div> <!-- /container -->







